
.titulo{
    color: coral;
    text-align: center;
    margin: 15px;
}

h2{
    color: darkblue;
}

a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    content: attr();
}

/* Identificador Tipo ID CSS */
#TituloPrincipal{
    color: darkcyan;
    text-align: center;
    margin: 15px;
}


/* Clases en CSS */
.tarjeta{
    border: 10px solid darkcyan;
    background-color: antiquewhite;
    text-align: center;
    margin: 15px 140px;
}

.tituloDiv{
    color: blue;
}
